*{
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}

body{
    height: 1000px;
    background-image: linear-gradient(-45deg, #201b2c, #211341, #1b015f);
    background-attachment: fixed;
}


/* Scroll */

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #1b015f;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #201b2c;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #1b015f;  /* creates padding around scroll thumb */
  }